<form action="<%= url('/resolve') %>" class="form-horizontal resolve-form" method="GET">
  <div class="control-group">
    <label for="query" class="control-label"><strong>Name/IP to resolve</strong>:</label>
    <div class="controls">
      <input type="text" id="query" name="query" value="<%= h @query %>">
    </div>
  </div>
  <div class="control-group">
    <label for="nameserver" class="control-label">DNS server <span class="label label-info">optional</span>:</label>
    <div class="controls">
      <input type="text" id="nameserver" name="ns" value="<%= h @nameserver %>">
    </div>
  </div>
  
  <div class="form-actions">
    <div class="btn-group">
	  <button type="submit" class="btn btn-primary"><i class="icon-refresh icon-white"></i>Resolve!</button>
	  <a href="/" class="btn"><i class="icon-remove"></i>Reset</a>
	</div>
    <div class="progress progress-info progress-striped active">
      <div class="bar"></div>
    </div>
  </div>
</form>

<% unless @dns.nil? and @whois.nil? and @geoip.nil? and @asnum.nil? and @dnsbl.nil? %>
<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#dns-results" data-toggle="tab"><i class="icon-cog"></i> DNS results</a>
    </li>
    <li><a href="#whois-results" data-toggle="tab"><i class="icon-cog"></i> WHOIS results</a></li>
	<li><a href="#geo-results" data-toggle="tab" class="map"><i class="icon-cog"></i> GeoIP results</a></li>
	<li><a href="#as-results" data-toggle="tab"><i class="icon-cog"></i> AS results</a></li>
	<li><a href="#dnsbl-results" data-toggle="tab"><i class="icon-cog"></i> DNSBL results</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="dns-results">
      <% unless @dns.nil? %>
        <h2>DNS results</h2>
		<h3>DNS</h3>
        <pre><%= @dns %></pre>
		
		<h3>Reverse DNS</h3>
		<pre>IP was: <%= @ip.to_s %>
RDNS: <%= @rdns %></pre>
      <% end %>
    </div>
    <div class="tab-pane" id="whois-results">
      <% unless @whois.nil? %>
        <h2>WHOIS results</h2>
        <pre><%= @whois %></pre>
      <% end %>
    </div>
	<div class="tab-pane" id="geo-results">
      <% unless @geoip.nil? %>
        <h2>GeoIP results</h2>
		<div id="geoip-map" data-lat="<%= h @geoip.latitude %>" data-lon="<%= h @geoip.longitude %>"
			data-description="<%= h @geoip.city_name.encode("UTF-8") %>, <%= h @geoip.country_name %>"></div>
        <pre><%= h @geoip.inspect %></pre>
      <% end %>
    </div>
	<div class="tab-pane" id="as-results">
      <% unless @asnum.nil? %>
        <h2>AS results</h2>
        <pre><%= h @asnum.inspect %></pre>
      <% end %>
    </div>
	<div class="tab-pane" id="dnsbl-results">
      <h2>DNSBL results</h2>
      <% unless @dnsbl.nil? or @dnsbl[:listed].nil? or @dnsbl[:listed].size == 0 %>
		<h3>Listed in <%= @dnsbl[:listed].size %> blacklists:</h3>
        <ul>
			<% @dnsbl[:listed].each do |list| %>
				<li><%= list %></li>
			<% end %>
		</ul>
	  <% else %>
	    <p>The IP <%= @ip %> is not listed in any of the checked DNSBLs:</p>
	    <ul>
			<% @dnsbl[:unlisted].each do |list| %>
				<li><%= list %></li>
			<% end %>
		</ul>
      <% end %>
    </div>
  </div>
</div>
<% end %>
